@using System.Runtime.InteropServices
@using Microsoft.AspNetCore.Builder.Extensions
<div class="card" draggable="true" @ondragstart="() => OnDragStartCard.InvokeAsync(CurrentCard)" @onclick="() => OnCardClick.InvokeAsync(CurrentCard.Id)">
    <span class="badge b-atrasado" style='@(CardsManager.IsAtrasado(CurrentCard) ? "" : "display:none;" )'>Atrasado</span>
    <div class="card-title">@CurrentCard.Nome</div>
    <div class="card-desc">@CurrentCard.Descricao</div>
        <div class="card-badges">
            <span class="badge b-area">@(DbContext.GetByIndex<Setor>("Setores", CurrentCard.IndexSetor)!.Nome)</span>
            <span class="badge b-@GetPriority(CurrentCard.Prioridade)">@((Prioridade)CurrentCard.Prioridade)</span>
        </div>
        <hr class="card-divider">
        <div class="prog-wrap">
            <div style="display: flex; justify-content: space-between;">
                <label class="prog-label">Início: @(CurrentCard.DataComecoProjeto?.ToString("dd/MM/yyyy") ?? "--/--/----")</label>
                <label class="prog-label">@CardsManager.GetElapsedDays(CurrentCard)</label>
            </div>
            
            <div style="display: flex; justify-content: space-between;">
                <label class="prog-label" style="@(CardsManager.IsAtrasado(CurrentCard) ? "color: red;" : "")">Prazo: @(CurrentCard.Prazo?.ToString("dd/MM/yyyy") ?? "--/--/----")</label>
                <label class="prog-label" style="@(CardsManager.IsAtrasado(CurrentCard) ? "color: red;" : "")">@CardsManager.GetRemainingDays(CurrentCard)</label>
            </div>
            @if(CurrentCard.DataConclusao != null)
            {
                <div style="display: flex; justify-content: space-between;">
                    <label class="prog-label" style="color: green;">Conclusão: @(CurrentCard.DataConclusao?.ToString("dd/MM/yyyy") ?? "--/--/----")</label>
                </div>
            }
            @if(EtapasManager.TodasEtapas.Any(x => x.IdProjeto == CurrentCard.Id))
            {
                <br />
                <div class="prog-bar">
                    <div class="prog-fill-concluido"
                        style="@($"width:{CardsManager.GetProgressPercentage(CurrentCard, StatusEtapa.Concluida).ToString(System.Globalization.CultureInfo.InvariantCulture)}%")">
                    </div>
                    <div class="prog-fill-andamento"
                        style="@($"width:{CardsManager.GetProgressPercentage(CurrentCard, StatusEtapa.EmAndamento).ToString(System.Globalization.CultureInfo.InvariantCulture)}%")">
                    </div>
                </div>
                <label class="prog-label">Progresso</label>
            }
        </div>
        <hr class="card-divider">
        <div class="card-footer">
            <div style="display:flex;align-items:center;gap:6px">
                <span style="font-size:12px;color:var(--text3);font-style:italic"><b>Responsável:</b> @(DbContext.GetByIndex<Responsavel>("Responsaveis", CurrentCard.IndexResponsavel)!.Nome)</span>
            </div>
        </div>
</div>

@code
{
    [Parameter] public string? CardId { get; set; }
    [Parameter] public EventCallback<Card> OnDragStartCard { get; set; }
    [Parameter] public EventCallback<string> OnCardClick { get; set;}

    public Card CurrentCard = new Card();
    protected override void OnParametersSet()
    {
        if(CardId != null)
            CurrentCard = CardsManager.GetCardById(CardId)!;
    }
    protected override void OnInitialized()
    {
        CardsManager.OnChange += Refresh;
    }

    void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CardsManager.OnChange -= Refresh;
    }
    string GetPriority(Prioridade p)
    {
        switch(p)
        {
            case Prioridade.Baixa:
                return "baixa";
            case Prioridade.Media:
                return "media";
            case Prioridade.Alta:
                return "alta";
            default:
                return "";
        }
    }
}